<div class='innerInterview'>
<div class="close" ng-click="$event.stopPropagation()"><a ng-click='removeFn(interview.roomId)'><i class="fa fa-times"></i></a></div>

  <div class='interviewLeft'>
    <ul>
      <li><h3><i class="fa fa-calendar"></i> {{interview.displayed_date}} </h3></li>
      <li><h3><i class="fa fa-clock-o"></i> {{interview.displayed_time}} </h3></li>
    </ul>
  </div>

  <div class='interviewRight'>
    <ul>
      <li class='name'><h3><i class="fa fa-user"></i> {{interview.candidateName}} </h3></li>
      <li class='email'>
        <h3>
          <i class="fa fa-envelope-o" ng-class="{{ interview.candidateEmail.length > 24 }} ? 'email-container-icon' : ''"></i>
          <span ng-class="{{ interview.candidateEmail.length > 24 }} ? 'email-container' : ''">{{interview.candidateEmail}} </span>
        </h3>
      </li>
    </ul>
  </div>

</div>